@import "smart-grid";
@size-lg: ~"(max-width: 1170px)";
@size-md: ~"(max-width: 970px)";
@size-sm: ~"(max-width: 750px)";
@size-xs: ~"(max-width: 425px)";
.reset();
.container{
	.wrapper();
}
html {
	font-size: 16px;
	@media @size-xs {
		font-size: 10px;
	} 
}
body {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	color: #fff;
}
.main-header {
	position: relative;
	min-height: 100vh;
	width: 100%;
	>.bgi-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		.header-wrapper-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.bgi-1 {
			background-image: url(../img/header-1.jpg);
		}
		.bgi-2 {
			background-image: url(../img/header-2.jpg);
			display: none;
		}
	}
	
	>.cont-wrapper {
		position: relative;
		min-height: 900px;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
		.cont-z {
			.top-block {
				display: flex;
				padding-top: 20px;
				padding-bottom: 20px;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				@media @size-md {
					justify-content: center;
				}
				@media @size-sm {
					flex-direction: column;
					align-items: center;
				}
				.h-contacts {
					padding-left: 40px;
					margin: 0 20px;
					.contact {
						display: block;
						position: relative;
						margin: 7px 0;
						line-height: 26px;
						font-size: 18px;
						font-weight: bold;
						text-align: left;
						text-shadow: 0 0 9px #112752;
					}
					.phone::before {
						display: block;
						position: absolute;
						left: -40px;
	    				top: 0;
						width: 26px;
						height: 26px;
						content: '';
						background: url(../img/icon/smartphone.svg) center no-repeat;
	   					background-size: cover;
					}
					.mail::before {
						display: block;
						position: absolute;
						left: -40px;
	    				top: 0;
						width: 26px;
						height: 26px;
						content: '';
						background: url(../img/icon/closed-envelope.svg) center no-repeat;
	   					background-size: cover;
					}
				}
				.order-wrapper {
	    			text-align: right;
	    			.order {
						display: inline-block;
						padding: 15px 34px;
						font-size: 18px;
						line-height: 18px;
						background-color: #fb9f4e;
						border-radius: 5px;
						&:hover {
							background-color: #ffb573;
						}
					}
				}
			}
		}
	}
	.navigation {
		position: relative;
		width: 100%;
		background-color: rgba(34, 41, 81, 0.9);
		.burger {
			position: relative;
			display: none;
			width: 200px;
			padding: 2rem;
			align-items: center;
			cursor: pointer;
			>div {
				position: relative;
				display: inline-block;
				height: 5px;
				width: 40px;
				background-color: #fff;
				border-radius: 2px;
				&::before {
					position: absolute;
					display: block;
					content: "";
					bottom: 10px;
					height: 5px;
					width: 40px;
					background-color: #fff;
					border-radius: 2px;
				}
				&::after {
					position: absolute;
					display: block;
					content: "";
					top: 10px;
					height: 5px;
					width: 40px;
					background-color: #fff;
					border-radius: 2px;
				}
			}
			>span {
				display: inline-block;
				margin-left: 10px;
				font-size: 30px;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
		.nav-list {
			display: flex;
			max-width: 1200px;
			margin: 0 auto;
			justify-content: center;
			flex-wrap: wrap;
			transition: opacity 0.3s ease-out 0.2s;
			&.open{
				height: auto;
				opacity: 1;
			}
			>.nav-item {
				position: relative;
				max-width: 200px;
				cursor: pointer;
				&:hover {
					background-color: #3f51b5;
				}
				>.nav-link {
					display: flex;
					align-items: center;
					height: 100%;
					padding: 40px 40px;
					font-size: 18px;
					text-transform: uppercase;
					box-sizing: border-box;
					text-align: center;
					word-wrap: break-word;
					word-break: break-all;
					.fa-sort-desc {
						line-height: 18px;
					}
				}
			}
			.drop-menu {
				position: absolute;
				overflow: hidden;
    			height: 0;
    			opacity: 0;
				width: 100%;
				flex-direction: column;
				align-items: flex-start;
				box-sizing: border-box;
				transition: opacity 0.3s ease-out 0.2s;
				&.open-menu{
					height: auto;
					opacity: 1;
				}
				li {
					width: 100%;
					.drop-link {
						display: inline-block;
						width: 100%;
						padding-left: 25px;
						font-size: 14px;
						line-height: 30px;
						color: #000;
						background-color: #fff;
						box-sizing: border-box;
						&:hover {
							color: #fff;
							background-color: #3f51b5;
						}
					}
				}
			}
		}
	}
	@media @size-sm {
		.navigation {
			position: absolute;
			background-color: rgba(34, 41, 81, 1);
			.nav-list {
				height: 0;
				overflow: hidden;
				flex-direction: column;
				max-width: 100%;
				opacity: 0;
			    z-index: 3;
			    background-color: rgba(34, 41, 81, 1);
			    .drop-menu {
			    	position: relative;
			    }
			    .nav-item {
			    	min-width: 100%;
			    	.nav-link {
			    		padding: 20px 20px;
			    	}
			    }
			}
			.burger {
				display: flex;
			}
		}	
	}
	.head-caption {
		display: flex;
		width: 50%;
		margin-top: 100px;
		flex-direction: column;
		align-items: flex-start;
		@media @size-md {
			width: 100%;
			align-items: center;
			text-align: center;
		}
		>.caption {
			display: inline-block;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 3rem;
			text-transform: uppercase;
			text-shadow: 0 0 9px #000;
		}
		>.description {
			display: inline-block;
			font-size: 20px;
			margin-top: 30px;
			text-shadow: 0 0 9px #000;
		}
	}
}
.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@media @size-md {
		flex-grow: 2;
	}
	>.company{
		margin-left: 15px;
		text-align: center;
		>.logo-caption {
			display: block;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: bold;
			font-size: 1.5rem;
			text-transform: uppercase;
		}
		>.slogan {
			display: inline-block;
			position: relative;
			font-size: 1.2rem;
			font-weight: lighter;
			padding: 0 35px;
			&::after {
				position: absolute;
				display: inline-block;
				bottom: calc(~"50% - 1px");
				right: 0;
				width: 20px;
				height: 1px;
				content: '';
				background-color: #fff;
			}
			&::before {
				position: absolute;
				display: inline-block;
				bottom: calc(~"50% - 1px");
				left: 0;
				width: 20px;
				height: 1px;
				content: '';
				background-color: #fff;
			}
		}
	}
}
.main-index {
	.caption {
		text-align: center;
		margin-bottom: 50px;
		font-weight: 900;
		color: #000;
		font-size: 3rem;
		text-transform: uppercase;
	}
	.services {
		width: 100%;
		padding-top: 80px;
		&-wrapper {
			.row-flex();
			.services-1 {
				.col();
				.size(12);
			}
			.services-2,
			.services-3 {
				.col();
				.size(6);
				.size-sm(12);
			}
			.services-4,
			.services-5,
			.services-6 {
				.col();
				.size(4);
				.size-sm(12);
				.link-text {
					&::after,
					&::before {
						height: 360px;
					}
				}
			}
			.services-1,
			.services-2,
			.services-3 {
				.link-text {
					&::after {
						height: 280px;
						transform: rotate(45deg) translateX(-46px) translateY(-146px);
					}
					&::before {
						height: 280px;
						transform: rotate(45deg) translateX(-10px) translateY(90px);
					}
				}
			}
			.services-item {
				position: relative;
				height: 400px;
				margin-bottom: 4px;
				padding: 2%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				.item-hover {
					display: flex;
					height: 100%;
					width: 100%;
					align-items: flex-end;
					box-sizing: border-box;
					transition: opacity 0.3s ease-out 0.1s;
					@media @size-sm {
						justify-content: center;
						align-items: center;
						text-align: center;
					}
				}
				.link-text {
					font-size: 1.8rem;
					font-weight: bold;
					text-shadow: 0 0 21px #000;
				}
				.services-link {
					display: flex;
					position: absolute;
					width: 100%;
					padding: 50px;
					justify-content: center;
					align-items: center;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					opacity: 0;
					background-image: url(../img/service-hover.png);
					background-size: cover;
					box-sizing: border-box;
					text-align: center;
					transition: opacity 0.3s ease-out 0.1s;
					>.link-text {
						position: relative;
						width: 100%;
						&::after {
							display: block;
							position: absolute;
							content: "";
							width: 4px;
							left: -20px;
							bottom: calc(~"50% - 180px");
							background-color: #fff;
							border-radius: 50%;
						}
						&::before {
							display: block;
							position: absolute;
							content: "";
							width: 4px;
							right: -20px;
							bottom: calc(~"50% - 180px");
							background-color: #fff;
							border-radius: 50%;
						}
					}
				}
				&:hover {
					.services-link {
						opacity: 1;
						height: 100%;
					}
					.item-hover {
						.link-text {
							display: none;
						}
					}
				}
			}
		}
	}
}
.project {
	padding: 80px 0;
	text-align: right;
	.our-projects {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: bold;
		color: #000;
		&::after {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-left: 4px;
			content: "";
			background-image: url(../img/icon/right-arrow.svg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			vertical-align: sub;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	.wrapper {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		.item-project {
			display: flex;
			position: relative;
			margin-bottom: 4px;
			justify-content: center;
			align-items: flex-end;
			font-size: 1.8rem;
			background-color: #cccccc;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			box-sizing: border-box;
			&:hover {
				.project-link {
					opacity: 1;
				}
				.name-project-desc {
					opacity: 0;
				}
			}
		}
		.proj-1 {
			width: 100%;
			height: 525px;
			background-image: url(../img/project-1.jpg);
		}
		.proj-2 {
			width: calc(~"50% - 2px");
			height: 300px;
			background-image: url(../img/project-2.jpg);	
		}
		.proj-3 {
			width: calc(~"50% - 2px");
			height: 300px;
			background-image: url(../img/project-3.jpg);
		}
		.project-link {
			position: absolute;
			display: flex;
			width: 100%;
			height: 100%;
			padding: 70px;
			justify-content: center;
			align-items: center;
			opacity: 0;
			box-sizing: border-box;
			background-image: url(../img/service-hover.png);
			background-size: cover;
			transition: opacity 0.3s ease-out 0.1s;
			>.name-project {
				display: flex;
				width: 90%;
				height: 100%;
				justify-content: center;
				align-items: center;
				font-weight: bold;
				text-align: center;
				border: 3px solid #fff;
			}
		}
		.name-project-desc {
			margin: 25px;
			font-weight: bold;
			text-align: left;
			background-color: #293dac;
			transition: opacity 0.3s ease-out 0.1s;
		}
		@media screen and(max-width: 1200px) {
			.item-project,
			.proj-2,
			.proj-3 {
				height: 300px;
				width: calc(~"33.3% - 2px");
				font-size: 1.3rem;
			}
			.project-link {
				padding: 20px;
			}
			.name-project-desc {
				margin: 15px;
			}
		}
		@media @size-sm {
			.item-project,
			.proj-2,
			.proj-3 {
				height: 200px;
				width: 100%;
				font-size: 1.5rem;
			}
		}
	}
}
.advantage {
	width: 100%;
	&-list {
		.row-flex();
		justify-content: center;
		.advantage-item {
			.col();
			.size(3);
			.size-md(4);
			.size-sm(6);
			.size-xs(12);
			display: flex;
			margin-bottom: 70px;
			flex-direction: column;
			align-items: center;
			height: 250px;
			>.logo-advant {
				position: relative;
				height: 165px;
				width: 165px;
				border: 3px solid #000;
				border-radius: 50%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 80px;
				>.number {
					position: absolute;
					left: 0;
	    			top: 6px;
	    			width: 40px;
					height: 40px;
					font-size: 24px;
					line-height: 40px;
					font-weight: bold;
					background-color: #293dac;
					border: 2px solid #fff;
					border-radius: 50%;
					text-align: center;
				}
			}
			>.name {
				display: inline-block;
    			width: 70%;
				margin-top: 20px;
				font-size: 14px;
				line-height: 20px;
				color: #000;
				text-align: center;
			}
		}
	}
}
.info {
	width: 100%;
	&-list {
		.row-flex();
		justify-content: center;
		margin-bottom: 80px;
		.info-item {
			.col();
			.size(4);
			.size-sm(6);
			.size-xs(12);
			margin-bottom: 4px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			>.info-link {
				display: flex;
				height: 350px;
				align-items: flex-end;
				justify-content: center;
				z-index: 1;
				>.name {
					display: inline-block;
					width: 100%;
					padding: 30px 0;
					font-size: 24px;
					font-weight: bold;
					text-align-last: center;
					background-color: #293dac;
					z-index: 1;
					&:hover {
						background-color: #25379c;
					}
				}
			}
			&:nth-child(even) {
				.name {
					background-color: #fb9f4e;
					&:hover {
						background-color: #ffb573;
					}
				}
			}
			
			&:hover {
				-webkit-box-shadow: 0px 0px 30px 17px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 30px 17px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 30px 17px rgba(0,0,0,0.75);
				z-index: 2;
			}
			&:active {
				-webkit-box-shadow: inset 0px 0px 30px 17px rgba(0,0,0,0.75);
				-moz-box-shadow: inset 0px 0px 30px 17px rgba(0,0,0,0.75);
				box-shadow: inset 0px 0px 30px 17px rgba(0,0,0,0.75);
				z-index: 2;
			}
		}
	}
}
.main-footer {
	width: 100%;
	background-color: #000;
	padding: 20px 0;
	.footer-logo {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media @size-sm {
			flex-direction: column;
		}
		.youtube {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			>.chanel {
				display: inline-block;
			}
			>i {
				display: inline-block;
				margin-left: 30px;
				font-size: 50px;
				color: #293dac;
			}
			&:hover {
				.chanel {
					opacity: 0.7;
				}
				>i {
					color: #F61c0d;
				}
			}
		}
	}
	.copy-tel {
		display: flex;
		margin-top: 30px;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		@media @size-sm {
			flex-direction: column;
			align-items: flex-start;
		}
		.contacts {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			
			.mail {
				display: flex;
				flex-direction: column;
				margin-right: 45px;
				margin-bottom: 30px;
			}
			@media screen and (max-width: 550px) {
				flex-direction: column;
				align-items: flex-start;
				.mail {
					margin-right: 0;
				}
			}
			.addres {
				display: flex;
				flex-direction: column;
				margin-bottom: 30px;
			}
		}
		.copyright {
			text-align: right;
		}
	}
}

/*-----------------stub.html----------*/

.stub-header {
	padding: 20px 0;
	width: 100%;
	background-color: #222951;
	.header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.h-contacts {
			padding-left: 40px;
			margin: 0 20px;
			.contact {
				display: block;
				position: relative;
				margin: 7px 0;
				line-height: 26px;
				font-size: 18px;
				font-weight: bold;
				text-align: left;
				text-shadow: 0 0 9px #112752;
			}
			.phone::before {
				display: block;
				position: absolute;
				left: -40px;
				top: 0;
				width: 26px;
				height: 26px;
				content: '';
				background: url(../img/icon/smartphone.svg) center no-repeat;
					background-size: cover;
			}
			.mail::before {
				display: block;
				position: absolute;
				left: -40px;
				top: 0;
				width: 26px;
				height: 26px;
				content: '';
				background: url(../img/icon/closed-envelope.svg) center no-repeat;
					background-size: cover;
			}
			@media @size-sm {
				margin-top: 20px;
			}
		}
		@media @size-sm {
			flex-direction: column;
		}
	}
}

.main-stub {
	display: flex;
	width: 100%;
	min-height: 600px;
	align-items: center;
	justify-content: center;
	background-image: url(../img/bgi-stub.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.middle-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #000;
		text-align: center;
		.sorry {
			margin-top: 30px;
			font-size: 3rem;
			font-weight: bold;
		}
		.message {
			font-size: 1.8rem;
			line-height: 2.5rem;
		}
	}
}